/* 
************************************** 
    BELLOW 1350px (Smaller desktop)
**************************************
*/
@media (max-width: 1350px) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .section-testimonials-gallery {
    grid-template-columns: 60fr 40fr;
  }
}
/* 
************************************** 
    BELLOW 1200px (Smaller desktop)
**************************************
*/
@media (max-width: 1200px) {
  html {
    /* font-size: 9px; */
    font-size: 56.25%;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.2rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .sub-heading {
    font-size: 1.6rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .main-nav-list {
    gap: 3.4rem;
  }
  .hero {
    column-gap: 4.8rem;
  }

  .testimonials-container {
    padding: 4.8rem;
  }
  .testimonials {
    column-gap: 4.8rem;
  }
}
/* 
************************************** 
    BELLOW 950px (teblet)
**************************************
*/
@media (max-width: 950px) {
  html {
    font-size: 50%;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }
  .hero-text-box {
    text-align: center;
  }
  .hero-img-box {
    text-align: center;
  }
  .hero-img {
    width: 70%;
  }
  .deliverd-mels {
    justify-content: center;
    margin-top: 3.2rem;
  }
  .logos img {
    height: 2.4rem;
  }
  .step-number {
    font-size: 7.4rem;
  }
  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem;
  }
  .meal-title {
    font-size: 2.2rem;
  }
  /* testimonials */
  .section-testimonials-gallery {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .pricing-plan {
    width: 85%;
  }
  .cta {
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .btn--form {
    margin-top: 1.2rem;
  }

  /* Responsive Menu */
  .btn-mobile-nav {
    display: block;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s;
  }
  .open {
    transform: translateX(0);
    opacity: 1;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}
/* 
************************************** 
    BELLOW 750px (Smaller teblet)
**************************************
*/
@media (max-width: 750px) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .diets {
    grid-column: 1/-1;
    justify-self: center;
  }
  .heading-secondary {
    margin-bottom: 4.8rem;
  }
  .pricing-plan {
    width: 100%;
  }
  .grid-footer {
    grid-template-columns: repeat(6, 1fr);
  }
  .logo-col,
  .address-col {
    grid-column: span 3;
  }
  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
  .logos {
    flex-wrap: wrap;
    row-gap: 5rem;
    column-gap: 2rem;
  }
  .heading-primary {
    font-size: 4rem;
  }
  .deliverd-customer-faces img {
    height: 4rem;
    width: 4rem;
  }
  .deliverd-tex {
    font-size: 1.6rem;
  }
  
}

/* 
************************************** 
    BELLOW 550px ( Phobe)
**************************************
*/
@media (max-width: 550px) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--4-cols,
  .grid--3-cols {
    grid-template-columns: 1fr;
  }
  .hero {
    padding: 0 3.2rem;
  }
  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }
  .hero-img {
    width: 100%;
  }
  .btn {
    padding: 1.6rem 1.8rem;
    font-size: 1.8rem;
  }
  
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }
  .step-img-box{
    transform: translateY(2.4rem);
  }
  .testimonials{
    grid-template-columns: 1fr;
  }
  .gallery{
    grid-template-columns: repeat(4,1fr);
    gap: 1.2rem;
  }
  .cta{
    grid-template-columns: 1fr;
  }
  .cta-img-box{
    height: 32rem;
    grid-row: 1;
    
  }
  .cta-form-box {
  padding: 4.8rem 4.6rem 6.4rem 4.6rem;
  
}
}
