/************************************** 
           STYLE: HEADER-SECTION
**************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  background-color: var(--primary-lighter);
  padding: 0 4.8rem;
}
.logo {
  height: 2.2rem;
}
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.2rem;
  align-items: center;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--gray-dark);
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: var(--primary-darker);
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: var(--white);
}
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 2rem;
  right: 3rem;
}
/* mobile nav */
.icon-mobile-nav {
  font-size: 4.8rem;
  color: var(--gray-dark);
}
.sticky .header{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  padding-top:0 ;
  padding-bottom:0 ;
  height: 8rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

/* 
************************************** 
           STYLE: HERO-SECTION
**************************************
*/
.section-hero {
  background-color: var(--primary-lighter);
  padding: 4.8rem 0 9.6rem 0;
}
.sticky .section-hero {
  margin-top: 8rem;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-dsescription {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.deliverd-mels {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.deliverd-customer-faces {
  display: flex;
}
.deliverd-customer-faces img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid var(--primary-lighter);
}
.deliverd-customer-faces img:last-child {
  margin-right: 0;
}
.deliverd-text {
  font-size: 1.8rem;
  font-weight: 800;
}
.deliverd-text > span {
  color: var(--primary-darker);
  font-weight: 700;
}
.hero-img {
  width: 100%;
}

/* 
************************************** 
           STYLE: FEATURED-IN-SECTION
**************************************
*/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 2.4rem;
}
.logos {
  display: flex;
  justify-content: space-between;
 
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 60%;
}
/* 
************************************** 
           STYLE: HOW-IT-WORK-SECTION
**************************************
*/
.section-how-work {
  padding: 9.6rem 0;
}
.step-text-box {
  align-self: center;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: var(--gray-light);
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box::before {
  width: 70%;
  /* height: 60%; */
  padding-bottom: 70%;
  background-color: var(--primary-lighter);
  z-index: -1;
}
.step-img-box::after {
  width: 55%;
  /* height: 60%; */
  padding-bottom: 55%;
  background-color: var(--primary-light);
  z-index: -1;
}
.step-img {
  width: 40%;
}
/* 
************************************** 
           STYLE: MEALS-SECTION
**************************************
*/
.section-meals {
  padding: 9rem 0;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.09);
}
.meal-img {
  width: 100%;
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.2rem;
}
.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--gray-dark);
  border-radius: 100px;
  font-weight: 600;
}
.tag-vegetarian {
  background-color: #51cf66;
}
.tag-vegan {
  background-color: #94d82d;
}
.tag-paleo {
  background-color: #ffd43b;
}
.meal-title {
  font-size: 2.4rem;
  color: var(--gray-dark);
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-attrs {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attr {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.meal-icon {
  font-size: 2.4rem;
  color: var(--primary);
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/* 
************************************** 
           STYLE: TESTIMONIALS-AND-GALLERY-SECTION
**************************************
*/
.section-testimonials-gallery {
  background-color: var(--primary-lighter);
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 8.8rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: var(--gary-light-sm);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/* 
************************************** 
           STYLE: PRICING SECTION
**************************************
*/
.section-pricing {
  padding: 9.6rem 0;
}
.pricing-plan {
  border-radius: 11px;
  width: 75%;
}
.pricing-plan--starter {
  justify-self: end;
  padding: 4.6rem;
  border: 2px solid var(--primary-lighter);
}
.pricing-plan--complete {
  background-color: var(--primary-lighter);
  padding: 4.8rem;
  overflow: hidden;
  position: relative;
}
.pricing-plan--complete::after {
  content: "Best value";
  position: absolute;
  top: 6%;
  right: -18%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(40deg);
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  color: var(--primary);
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
  list-style: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: var(--gray-dark);
  margin-bottom: 1.6rem;
}
.plan-price > span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--gary-light-sm);
}
.plan-sing-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.6;
}
/* Feature */

.feature-icon {
  color: var(--primary);
  font-size: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: var(--primary-lighter);
  padding: 1.6rem;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  color: var(--gray);
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* 
************************************** 
           STYLE: CTA SECTION
**************************************
*/

.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(
    to right bottom,
    var(--primary-light-sm),
    var(--primary)
  );
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden;
  /* temp */
}
.cta .heading-secondary {
  color: inherit;
  margin-bottom: 2.4rem;
}
.cta-form-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: var(--gray-dark);
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: var(--primary-lighter);
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form input::placeholder {
  color: var(--gary-light-sm);
}

.cta *:focus {
  outline: none;
  box-shadow: 0px 0px 0px 0.8rem rgba(253, 242, 233, 0.5);
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(237, 152, 78, 0.25),
      rgba(230, 125, 34, 0.25)
    ),
    url("../img/maneating.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 
************************************** 
           STYLE: FOOTER
**************************************
*/
.footer {
  padding: 12.8rem 0;
  border: 1px solid var(--gray-light);
}
.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.social-icon {
  font-size: 2.6rem;
}
.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--gary-light-sm);
  margin-top: auto;
}
.contact-info {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.address {
  margin-bottom: 2.4rem;
}
.footer-heading {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
  color: var(--gray-dark);
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--gary-light-sm);
  transition: all 0.3s;
}
.footer-link:hover {
  color: var(--gray-dark);
}
